<header>
    <div class="bg">
            <div class="overlay"></div>


    <nav>
    
    <img src="/static/img/logo1.png">
    <div class="menu"> <a href="/">Home</a>
        <a href="/estacoes">Estações</a>
        <a href="/comentarios">Comentários</a>
    </div>   
</nav>

<div class="chamada-flex">

    <div class="chamada">
            <h1>Veja o que estão falando!</h1>
            <p> As avaliações são feitas pelo os próprios usuários! </p>

            </div>

        </div>
</div>
</header>