<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <section class="gatos">
        <h2>Veja as estações com maior número de denúncias:</h2>
        
        <div class="container">
            <% for(let estacao of estacoes){ %>
                <div>
                    <img src="<%= estacao.img %>" alt="">
                    <h3><%= estacao.nome %></h3>
                </div>
            <% } %>
        </div>
</body>
</html>